.navigation-list {
    display: inline;
    border-radius: 16px;
    line-height: 2.0em;
    padding: 0 20px;
    margin: 5px 0;
    display: inline-block;
    text-align: center;
    background-color: #ECEFF1;
    min-width: 100px;
}

a {
    text-decoration: none;
    color: #212121;
}

a:hover {
    text-decoration: none;
    background-color: #212121;
    color: #ECEFF1;
}

div.para1 {
    text-align: center;
    padding-left: 0;
    width: 600px;
    height: 200px;
}

.oak {
    text-align: center;
}

.oakhead {
    text-align: center;
}

#header {
    font-size: 130%;
    text-align: center;
    color: #5C755E;
}
#yew-img {
    width: 250px;
    height: 200px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    
}
#main {
    margin:0 20px;
    padding-top: 20px;
}
#wrapper {
    width: 700px;
    margin:0 auto;
    border:1px solid #efece7;
    border-top: 0px;
    overflow: hidden;
    height: 800px;
}
#yew-content {
    margin: 0 20px;
}
#list {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    padding-right: 50px;
}

a:hover {
    color: #5C755E;
    text-decoration: none;
}
article {
    margin: 0 40px;
}

.maple {
    background: url(img/Maple-Tree.jpg) no-repeat fixed;
    background-size: cover;
}

.pine {
    background: url(img/Pine-Tree.jpg) no-repeat fixed;
    background-size: cover;
}

.oaks {
    background: url(img/Oaks-Tree.jpg) no-repeat fixed;
    background-size: cover;
}

.yew {
    background: url(img/Yew-Tree.jpg) no-repeat fixed;
    background-size: cover;
}
.index{
    background: url(img/index.gif) no-repeat fixed;
    background-size: cover;
}

#overview {
    max-width: 600px;
    background-color: rgba(236, 239, 241, 0.5);
}
